body {
    background-color: #e5f0e5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

div a {
    color: #ffffff;
    display: block;
    width: 230px;
    background-color: #04888b;
    padding: 8px;
    margin: 5px;
    text-align: center;
    border: solid 1px;
    border-radius: 12px;
    font-variant: small-caps;
}

img {
    height: auto;
    width: 600px;
}

.servings {
    font-style: italic;
}
